<script>
import i18next from 'i18next';
import enSource from './sources/en.json';
import uaSource from './sources/ua.json';

// localization init
i18next.init({
  fallbackLng: 'en',

  debug: true,
  resources: {
    en: enSource,
    ua: uaSource,
  },
  returnObjects: true,
}, (err, t) => {
  if (err) return console.log('something went wrong loading', err);
});
</script>

<template>
  <NuxtPage></NuxtPage>
</template>


