<script setup>
import { useState } from "#app";
import i18next, { t } from "i18next";

const state = useLanguageStore();

const content = useState('index', () => ({
  greetings: t('index.greetings'),
  theme: t('index.theme', { theme: state.language })
}));

const toggleState = useState('toggle', () => state.language === 'ua');

i18next.on('languageChanged', function(lng) {
  content.value = {
    greetings: t('index.greetings'),
    theme: t('index.theme', { theme: lng })
  }
  toggleState.value = lng === 'en';
})
</script>

<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-title>Nuxt Ionic</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <ion-item>{{ content.greetings }}</ion-item>
      <ion-item>{{ toggleState }}</ion-item>

      <div class="container">
        <h4>{{ content.theme }}</h4>
        <div class="language-selector">
          <span> en </span>
          <ion-toggle
              :checked="toggleState"
              @click="() => state.update(state.language)"
              mode="ios"
          ></ion-toggle>
          <span> ua </span>
        </div>
      </div>
    </ion-content>

    <ion-footer>
      <NuxtLink to="/info"><ion-button>Redirect to info page</ion-button></NuxtLink>
    </ion-footer>
  </ion-page>
</template>

<style scoped>
ion-toggle {
  padding: 12px;

  --track-background: #ddd;
  --track-background-checked: #ddd;

  --handle-background: #4953ab;
  --handle-background-checked: #4953ab;
}

.container {
  padding: 20px;

  .language-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
</style>