<script setup>
import { useState } from "#app";
import i18next, { t } from "i18next";

const state = useLanguageStore();

const content = useState('info', () => ({
  title: t('info.title'),
  text: t('info.text', { theme: state.language })
}));

i18next.on('languageChanged', function(lng) {
  content.value = {
    title: t('info.title'),
    text: t('info.text', { theme: lng })
  }
})
</script>

<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          {{ content.title }}
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list :inset="true">
        <ion-item>
          <h5>Current language</h5>
          <span style="padding: 10px">{{ state.language }}</span>
        </ion-item>

        <ion-item>
          {{ content.text }}
        </ion-item>
      </ion-list>
    </ion-content>

    <ion-footer>
      <NuxtLink to="/"><ion-button>Return to Home page</ion-button></NuxtLink>
    </ion-footer>
  </ion-page>
</template>
